* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  
}


/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius:20px ;

}

.form{
    text-shadow: #0606063e;
    text-align: center;
    
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.btn {
  background-color: #5333b6;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: rgb(54, 15, 90);
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
  padding: 15px;
  width: 80%;
}
#country {
    border-radius: 5px ;
    padding: 5px;
    margin-left: 5px;
}
#phone {
    background: #f1f1f1;
    outline: none;
   border: none;
   border-radius: 20px;
   margin: 5px 0 15px 0;
   width: 100%;
   display: inline-block;
   height: 35px;

}
#country {
    background: #f1f1f1;
    outline: none; 
}
.registration-image {
    width: 20%;
    height:130px;
    border-radius: 50px;
    margin-left: 90px;
    margin-top: -80px;
}
@media (max-width: 600px) {
  .container {
  width: 90%;
  }
  .registration-image {
    width: 90%;
  }
}